* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: deeppink;
}
nav {
  background-color: #2bbbc0;
  /* #29e6c9; */
  /* dodgerblue; */
  padding: 3px;
  margin: auto;
  color: #04338d;
}
nav ul {
  /* width: 80%; */
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: Gadget, sans-serif;
}

nav ul li {
  display: block;
  margin: 15px;
  padding: 3px;
  border-radius: 15%;
}

nav ul li:hover {
  background-color: whitesmoke;
}
nav ul li a.active {
  color: deeppink;
  background: whitesmoke;
}
