* {
  margin: 0;
  padding: 0;
}
/* body {
  font-size: 1.2em;
} */
.container {
  width: 90%;
  /* background-color: lightgrey; */
  /* padding: 10px; */
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: deeppink;
}
nav {
  background-color: dodgerblue;
  padding: 3px;
  margin: auto;
}
nav ul {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: Gadget, sans-serif;
}

nav ul li {
  display: block;
  background-color: cyan;
  margin: 15px;
  padding: 3px;
  border-radius: 15%;
}

nav ul li:hover {
  background-color: darkorange;
}
nav ul li a:active {
  color: darkseagreen;
}
/* .signin-form {
  left: 50%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;
} */

/* input {
  width: 30vw;
  height: 1.75em;
  margin: 10px 2px;
} */
